.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_details {
  padding: 5px;
  min-height: 95vh;
  width: 90vw;
  padding: 10px;
  background: rgba(25, 24, 24, 0.33);
  background: rgba(245, 245, 245, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(245, 245, 245, 0.3);
}
.header_details {
  padding: 5px;
  text-align: center;
}
.content_details {
  padding: 5px;
  font-size: 17px;
  text-align: justify;
}
