.container {
  height: 100%;
  width: 100%;

}
.navBox{
  height: 70px;
  border-bottom: 1px solid black;
  border-radius: 6px;
}
.navigators {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigator {
  border:0px;
  height: 100%;
  display: flex;
  width: 100%;
  margin:0px 1px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
  opacity: 1;
  transition: 0.6s ease-in-out;
}
.navigator:hover {
  opacity: 0.4;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(6, 0, 0, 0.4);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
